<!DOCTYPE html>
<html>
<head>
    <title>takipsizad</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="title" content="takipsizad">
    <meta name="description" content="its my site lol ">
    <meta property="og:type" content="website">
    <meta property="og:title" content="my site">
    <meta property="og:description" content="Takipsizad Site">
    <meta name="theme-color" content="d9c4c4"> 
    <meta property="og:image" content="/images/takipsizad.png">
    <link rel="icon" type="image/ico" sizes="16x16" href="favicon.ico"/>
    <meta name="keywords" content="termsite,webserver,terminal">
</head>

<body>
    <h1>Hello</h1>
    <p>/api/v1/gasprices</p>
    <p> /api/v1/version</p>
    <p>/api/v1/checkbal?wallet={adress}</p>
    <p>/api/v1/ibantoadress?Iban={Iban}</p>
    <p>/api/v1/adresstoiban?adress={adress}</p>
    <p>/api/v1/createacc </p>
    <p>You can send payment to this ethereum account:</p>
    <p> </p>
    </body>
</html>